/***** COLORS *****/
.light-blue.lighten-1 {
  background-color: #7da0b0 !important;
}

.light-blue.lighten-2 {
  background-color: #8fb7c9 !important;
}

.light-blue.lighten-3 {
  background-color: #a1cee2 !important;
}

.light-blue.lighten-4 {
  background-color: #b3e5fc !important;
}

.grey.darken-2 {
  background-color: #555 !important;
}

/***** GLOBAL STYLES *****/
html {
  color: #444;
}

h5 {
  text-transform: uppercase;
}

p {
  line-height: 2rem;
  font-size: 1.1rem;
}

.section {
  padding-top: 2rem;
  margin-bottom: 40px;
}

.modal {
  width: 70% !important;
}

/***** NAVBAR *****/
#logo {
  margin-top: 10px;
  height: 40px;
}

.brand-logo span {
  color: #444;
  padding-left: 10px;
  position: relative;
  top: -9px;
}

.dropdown-button,
#menu-dropdown li a {
  color: #444;
  text-transform: uppercase;
}

#menu-dropdown li a:hover {
  background-color: #eaeaea;
}

/***** HEADER *****/
#header-banner .section {
  padding: 60px 0;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
  background: linear-gradient(
                rgba(20,20,20, .65),
                rgba(20,20,20, .65));
}

/***** CONTACT *****/
.required {
  color: tomato;
  font-style: italic;
  font-size: .8rem;
  text-transform: none;
  padding-left: 15px;
}

#contact p {
  padding-bottom: 30px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #7da0b0;
  box-shadow: 0 1px 0 0 #7da0b0;
  color: #555;
}

textarea.materialize-textarea {
  padding: 1.6rem 0 0;
}

#contact input[type=text]:focus + label,
#contact input[type=tel]:focus + label,
#contact input[type=email]:focus + label,
#contact textarea.materialize-textarea:focus + label {
  color: #7da0b0;
}

#contact .divider {
  margin-bottom: 2rem; 
}

#contact .collection,
#contact .collection-item  {
  border: none;
  padding: 8px 0;
}

#contact .collection li,
#contact .collection li a {
    color: #666;
}

#contact .collection li a:hover,
#contact .collection li a:focus {
    text-decoration: underline;
}

.collection-item span {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #555;
  margin-right: 10px;
}

.modal .modal-content .collection,
.modal .modal-content .collection-item {
  border: none;
  background: transparent;
}

/***** FOOTER *****/
footer {
  background:
    linear-gradient(to bottom,
      #424242,
      #212121
    );
}

.page-footer ul li:first-child,
.page-footer ul li a:first-child {
  margin-bottom: 15px;
}

.linkedIn {
  color: #fff;
  margin-left: 8px; 
}

.linkedIn span {  
  background-color: #0077b5;
  color: #fff;
  border-radius: 2px;
  padding: 0 2px;
  margin-left: 1px;
}

.page-footer .linkedIn:hover {
  text-decoration: underline;
}

/***** MOBILE FAB *****/
.fixed-action-btn {
  right: 20px;
  bottom: 35px;
}

.fixed-action-btn i {
  font-size: 2rem;
}

/***** THANK YOU PAGE *****/
#thank-you {
  padding-top: 15%;
}

#thank-you h5 {
  text-transform: none;
  color: rgba(50, 50, 50, .8);
}

#thank-you h4 {
  color: rgba(50, 50, 50, .9);
}

/***** SELECTION HIGHLIGHTS *****/
/* Mozilla based browsers */
::-moz-selection {
background-color: #FF68B0;
color: #000;
}

/* Works in Safari */
::selection {
background-color: #FF68B0;
color: #FFF;
}

/* Works in Opera */
::-o-selection {
background-color: #FF68B0;
color: #FFF;
}
::-ms-selection {
background-color: #FF68B0;
color: #FFF;
}

/* Works in Internet Explorer */
::-webkit-selection {
background-color: #FF68B0;
color: #FFF;
}

/***** MEDIA QUERIES *****/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #header-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 768px) {
  #header-banner .section {
    top: 0;
  }
  
  #process img,
  #contact form {
    margin-bottom: 60px;
  }
}

  #services .card {
    background:
      linear-gradient(
        #f0f0f0,
        #ececec
      );
}

@media only screen and (max-width : 600px) {
  h2.header {
    font-size: 2.5rem;
  }
  h4.header {
    font-size: 1.7rem;
  }
  #about h4 {
    font-size: 1.7rem;
  }
  #thank-you h4 {
    font-size: 1.6rem;
  }
  #about h5 {
    font-size: 1.4rem;
  }
  .required {
    padding-left: 0;
  }
  .modal {
  width: 70% !important;
  }
}
