/***** COLORS *****/
.grey.darken-2 {
  background-color: #555 !important;
}

.red {
  background-color: rgb(255, 41, 41) !important;
}

.green {
  background-color: rgb(68, 170, 0) !important;
}

.blue {
  background-color: rgb(0, 51, 128) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

/***** NO JS NOTIFICATION *****/
.noScript {
  background-color: #E57373;
  color: #444;
  border-radius: 2px;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 60%;
  padding: 10px;
  z-index: 9999999;
}

.noScript a {
  color: #fff;
}

/***** GLOBAL STYLES *****/
html {
  background-color: #fff;
  color: #444;
}

h5 {
  text-transform: uppercase;
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.section {
  padding: 5rem 0;
}

.btn-flat,
.btn-flat:focus {
  color: #757575;
  background-color: transparent;
  border: 2px solid #757575;
}

.modal-close-btn,
.modal-close-btn:focus {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border: none;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  float: right;
  margin: 6px 0;
  color: #757575;
  background-color: transparent;
}

.modal {
  width: 85% !important;
  max-height: 80% !important;
}

/***** NAVBAR *****/
#logo {
  margin-top: 10px;
  height: 40px;
}

.brand-logo span {
  color: #444;
  padding-left: 10px;
  position: relative;
  top: -9px;
}

.dropdown-button,
#menu-dropdown li a {
  color: #444;
  text-transform: uppercase;
  cursor: pointer;
}

#menu-dropdown li a:hover,
#menu-dropdown li a:active {
  background-color: #eaeaea;
}

/***** HEADER *****/
#header-banner .section {
  padding: 70px 0 60px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
  background: linear-gradient(
                rgba(0,0,0, .6),
                rgba(0,0,0, .6));
}

/***** ABOUT *****/
#about .btn-flat {
  display: inline;
  padding: 1rem 2rem;
}

#about p {
    margin-bottom: 60px;
  }

/***** SERVICES *****/
#services .container {
  width: 90%;
}

#services .collapsible.popout>li.active {
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.16),0 4px 13px 0 rgba(0,0,0,0.14);
}

#services .collapsible-header {
  text-transform: uppercase;
}

#services .card {
  box-shadow: none;
  border-radius: 0;
  margin-top: -1.3rem;
}

#services .card-title {
  font-weight: 400;
  font-size: 1.5rem;
}

#services .collection,
#services .collection-item {
  border: none;
}

#services .collection-item {
  font-size: 1.2rem;
}

/***** PROCESS *****/
#process .section {
  width: 100%;
}

#process img {
  margin-top: 15px;
}

/***** CONTACT *****/
.required {
  color: #E57373;
  font-style: italic;
  font-size: .8rem;
  text-transform: none;
  padding-left: 15px;
}

#contact p {
  padding-bottom: 30px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #757575;
  box-shadow: 0 1px 0 0 #757575;
  color: #444;
}

textarea.materialize-textarea {
  padding: 1.6rem 0 0;
}

#contact input[type=text]:focus + label,
#contact input[type=tel]:focus + label,
#contact input[type=email]:focus + label,
#contact textarea.materialize-textarea:focus + label {
  color: #757575;
}

#contact .divider {
  margin-bottom: 2rem; 
}

#contact .collection,
#contact .collection-item  {
  border: none;
  padding: 8px 0;
  font-size: 1.2rem;
}

#contact .collection li,
#contact .collection li a {
    color: #757575;
}

#contact .collection li a:hover,
#contact .collection li a:focus {
    text-decoration: underline;
}

.collection-item span {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #555;
  margin-right: 10px;
}

.modal .modal-content .collection,
.modal .modal-content .collection-item {
  border: none;
  background: transparent;
}

/***** FOOTER *****/
.page-footer ul li:first-child,
.page-footer ul li a:first-child {
  margin-bottom: 15px;
}

.linkedIn {
  color: #fff;
  margin-left: 8px; 
}

.linkedIn span {  
  background-color: #0077b5;
  color: #fff;
  border-radius: 2px;
  padding: 0 2px;
  margin-left: 1px;
}

.page-footer .modal-trigger {
  text-transform: uppercase;
}

@-webkit-keyframes heartbeat {
    0%, 100%, 16%, 32% {
        -webkit-transform: scale3d(1, 1, 1)
    }
    24%,
    8% {
        -webkit-transform: scale3d(1.1, 1.1, 1)
    }
}
@keyframes heartbeat {
    0%, 100%, 16%, 32% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    24%,
    8% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1)
    }
}

.social {
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-style: italic;
}

.social i {
  font-size: 1.2rem;
  position: relative;
  top: 3px;
  color: #E57373;
  animation: heartbeat 1.5s linear infinite;
}

.twitter {
  background-color: rgb(85, 172, 238);
}

.twitter:hover,
.twitter:focus {
  background-color: rgb(108, 183, 240);
  color: #fff;
  border: none;
}

.facebook {
  margin-right: 5px;
  background-color: rgb(59,89,152);
}

.facebook:hover,
.facebook:focus {
  background-color: rgb(66,100,170);
  color: #fff;
  border: none;
}

.twitter,
.facebook {
  color: #fff;
  margin-top: 10px;
  padding: 0 1rem;
  border: none;
}

/***** MOBILE FAB *****/
.fixed-action-btn {
  right: 20px;
  bottom: 35px;
}

.fixed-action-btn .btn-large {
  border-radius: 50%;
}

.fixed-action-btn i {
  font-size: 2rem;
}

/***** THANK YOU PAGE *****/
#thank-you .card {
  margin: 3rem 0;
}

#thank-you .card-title {
  font-size: 1.3rem;
  font-style: italic;
}

#thank-you .card-content h4 {
  color: #444;
  font-size: 1.6rem;
}

#thank-you .card-content h5 {
  text-transform: none;
  color: #444;
  font-size: 1.3rem;
}

#thank-you .btn-flat {
  color: #555;
}

/***** 404 PAGE *****/
#four-oh-four a {
  color: #3DA33D;
}

#four-oh-four h5 {
  padding-top: 1rem;  
  line-height: 2.5rem;
}

.icon .material-icons {
  font-size: 4.25rem;
  color: #003380;
  -webkit-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
  }
  32% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  43% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  60% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
  72% {
    -webkit-transform: rotate(-124deg);
    transform: rotate(-124deg);
  }
  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-150deg);
    transform: rotate(-150deg);
  }
  32% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  43% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  60% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
  72% {
    -webkit-transform: rotate(-124deg);
    transform: rotate(-124deg);
  }
  100% {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
  }
}

/***** SELECTION HIGHLIGHTS *****/
/* Mozilla based browsers */
::-moz-selection {
background-color: #FFF498;
color: #000;
}

/* Works in Safari */
::selection {
background-color: #FFF498;
color: #555;
}

/* Works in Opera */
::-o-selection {
background-color: #FFF498;
color: #555;
}
::-ms-selection {
background-color: #FFF498;
color: #555;
}

/* Works in Internet Explorer */
::-webkit-selection {
background-color: #FFF498;
color: #555;
}

/***** MEDIA QUERIES *****/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #header-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 768px) {
  #header-banner .section {
    top: 0;
  }
  
  #about p {
    margin: 15px 0 30px;
  }

  #services .card {
    margin-top: 60px;
  }
  
  #process img,
  #contact form {
    margin-bottom: 120px;
  }
}

@media only screen and (max-width : 600px) {
  h2.header {
    font-size: 2.5rem;
  }

  h4.header {
    font-size: 1.7rem;
  }

  #about h4 {
    font-size: 1.7rem;
  }
  
  .required {
    padding-left: 0;
  }
  
  #four-oh-four h5 {
   text-align: left;
  }
}
